a.button7 {
	width: 30%;
	min-width: 50px;
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	margin-right: 10px;
	font-size: 1.2em;
	font-weight: bold;
	color: #ff9999;
	text-decoration: none;
	user-select: none;
	border: 1px #ff9999 solid;
	box-shadow: inset #ff9999 0 0 0 0;
	transition: 0.3s;
	cursor: pointer;
	img {
		width: 24px;
		height: 28px;
	}
	&:hover {
		color: #ffffff;
		box-shadow: inset #ff9999 0 0 0 2.5em;
	}
}
