@charset "UTF-8";
#utilHeader #utilHeaderTitle {
  text-align: center;
  font-size: 40px;
  font-weight: 100px;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "Times New Roman", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "HG明朝E", "ＭＳ Ｐ明朝", sans-serif;
  background-color: #b8e68a;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 2px;
}

#utilHeader #utilHeaderRemark {
  font-size: 16px;
  text-align: center;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "Times New Roman", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "HG明朝E", "ＭＳ Ｐ明朝", sans-serif;
  white-space: pre-wrap;
  margin-bottom: 30px;
}

#utilHeader #utilHeaderImage {
  width: 100%;
  height: 100%;
}

#utilFooter #utilFooterTitle {
  font-size: 30px;
  text-align: center;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "Times New Roman", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "HG明朝E", "ＭＳ Ｐ明朝", sans-serif;
  margin-top: 20px;
  margin-bottom: 30px;
}

#utilFooter #utilFooterRemark {
  font-size: 16px;
  text-align: center;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "Times New Roman", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "HG明朝E", "ＭＳ Ｐ明朝", sans-serif;
  white-space: pre-wrap;
  margin-bottom: 30px;
}

#utilFooter #utilFooterImage {
  width: 100%;
  height: 100%;
}

#utilImage-QR {
  margin-top: 30px;
  text-align: center;
}

#utilFix-left-down.circle {
  position: fixed;
  bottom: 50px;
  left: 100%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #669900;
  /*背景色*/
  text-align: center;
  margin-left: -98%;
  z-index: 2;
  cursor: pointer;
}

#utilFix-left-down.circle img {
  width: 75%;
  height: 75%;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

#utilFix-left-down.circle:hover img {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

@media only screen and (min-width: 768px) {
  #utilFix-left-down.circle:active img {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
}

#utilClock {
  background-color: #b8e68a;
  color: #ffffff;
  text-align: center;
  font-size: 40px;
  font-weight: 100px;
  font-family: "Arial", "メイリオ";
}

.utilLoading2 {
  width: 50px;
  height: 20px;
  margin: 0 auto;
  font-size: 0;
  text-align: center;
}

.utilLoading2 > div {
  display: inline-block;
  width: 6px;
  height: 100%;
  margin: 0 2px;
  background-color: #333;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-animation: rectY 1.2s infinite linear;
          animation: rectY 1.2s infinite linear;
}

.utilLoading2 .rect2 {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.utilLoading2 .rect3 {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

.utilLoading2 .rect4 {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

.utilLoading2 .rect5 {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}

@-webkit-keyframes rectY {
  0%,
  50%,
  100% {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
  30% {
    -webkit-transform: scaleY(2);
            transform: scaleY(2);
  }
}

@keyframes rectY {
  0%,
  50%,
  100% {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
  30% {
    -webkit-transform: scaleY(2);
            transform: scaleY(2);
  }
}

.utilLoading3 {
  position: relative;
  text-align: center;
}

.utilLoading3 > div {
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: go-and-return 1.5s infinite linear;
          animation: go-and-return 1.5s infinite linear;
}

.utilLoading3 .circle2 {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

.utilLoading3 .circle3 {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

@-webkit-keyframes go-and-return {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  75% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
}

@keyframes go-and-return {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  75% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
}

.utilBoxRadio-body {
  border: none;
  padding: 10px;
  text-align: center;
}

.utilBoxRadio-header {
  padding-bottom: 5px;
  border-top: 1px solid #ddd;
}

.utilBoxRadio-input {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.utilBoxRadio-label {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 18px;
  border-radius: 3px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.utilBoxRadio-input:checked + .utilBoxRadio-label {
  background: #B54A4A;
  color: #fff;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
}

.utilBoxRadio-input:focus + .utilBoxRadio-label {
  outline-color: #4D90FE;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}

.utilInlineRadio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 3px;
  overflow: hidden;
  width: 1000px;
  border: 1px solid #b6b6b6;
  margin: auto;
}

.utilInlineRadio div {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.utilInlineRadio input {
  width: 100%;
  height: 25px;
  opacity: 0;
  cursor: pointer;
}

.utilInlineRadio label {
  position: absolute;
  top: 0;
  left: 0;
  color: #000000;
  width: 100%;
  height: 100%;
  background: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
  border-right: 1px solid #b6b6b6;
}

.utilInlineRadio div:last-child label {
  border-right: 0;
}

.utilInlineRadio input:checked + label {
  background: #cccccc;
  font-weight: 500;
  color: #000000;
}

.utilModal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.utilModal .utilModal-content {
  background-color: #f4f4f4;
  margin: 20% auto;
  width: 50%;
  -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
          box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  -webkit-animation-name: modalopen;
          animation-name: modalopen;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.utilModal .utilModal-header {
  padding: 3px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.utilModal .utilModal-header.red {
  background: lightcoral;
}

.utilModal .utilModal-header.blue {
  background: lightblue;
}

.utilModal .utilModal-header h1 {
  margin: 1rem 0;
}

.utilModal .utilModal-close {
  font-size: 2rem;
}

.utilModal .utilModal-close:hover {
  cursor: pointer;
}

.utilModal .utilModal-body {
  padding: 10px 20px;
  color: black;
}

.utilModal .utilModal-action {
  background: khaki;
  padding: 3px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.utilModal .utilModal-action h1 {
  margin: 1rem 0;
}

.utilModal textarea {
  width: 100%;
  padding: 5px;
}

@-webkit-keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=util.css.map */