.multipletab{
	width:50%;
	margin:0 auto;
	background:#eee;
	overflow:hidden;
	position:relative;
}
.tab-buttons{
	display:inline-block;
	width:100%;
	border-bottom:2px solid #666;
}
.tab-buttons>span{
	display:block;
	float:left;
	cursor:pointer;
	color:#666;
	font:400 15px 'pt sans',sans-serif;
	background:#ddd;
	padding:0 15px;
	line-height:40px !important;
}
.tab-buttons>span.active{
	background:#666;
	color:#ddd;
	position:relative;
	box-shadow:0 0 10px rgba(0,0,0,0.5);
}
.tab-content{
position:relative;
}
.tab-content>div{
	position:absolute;
	color:#666;
	font-family:'pt sans',sans-serif;
}
.tab-nav{
	opacity:0;
	transition:all .3s linear;
	-moz-transition:all .3s linear;
	-webkit-transition:all .3s linear;
}
.multipletab:hover .tab-nav{
	opacity:1;
}
.tab-nav>span{
	position:absolute;
	top:50%;
	cursor:pointer;
	display:block;
	height:35px;
	width:35px;
}
